<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragment/template :: head}">&nbsp;</head>
<body>

<div th:replace="~{fragment/template :: navigation}">&nbsp;</div>

<!-- Display user-specific data based on preferences -->
<main>
    <div class="container-fluid" style="padding-top: 10px; padding-bottom: 10px;">
        <div class="row">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Welcome to custom success page!</h4>
            </div>
        </div>
    </div>
</main>

<footer class="footer text-center" th:replace="~{fragment/template :: footer}"></footer>

</body>
</html>
